spring:
  datasource:
    url: jdbc:h2:mem:pokemon-db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cache:
    type: caffeine
    cache-names: entrenadores, pokemones
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=10m
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.hibernate.SQL: DEBUG

server:
  port: 8080


